/*Styles on home page only*/
.top {
    width: 100%;
    height: 350px;
    max-height: 75vh;
    background-color: rgba(120, 170, 215, .75);
    z-index: 1;
}
.topContainer {
    height: 80%;
    width: 80%;
    position: relative;
    top:10%;
    left: 10%;
    display: flex;
    box-shadow: 0px 0px 50px black;
}
.topYBImg {
    height: calc(100% - 20px);
    margin: 10px;
    opacity: 0;
    transform: scale(.8);
    transition: all 200ms ease-in-out;
}
.topContent {
    width: 100%;
    padding:10px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, .45);
}
.topName {
    font-size: 35px;
    padding: 10px;
}
.topNavButtons {
    width: 100%;
    padding: 5px 0px 5px 0px;
    display: none;
}
.topNavButton {
    flex: 1;
    border: 0px solid black;
    background-color: rgba(255, 255, 255, .3);
    font-size: 15px;
    padding: 10px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.topNavButton:first-child {
    color: white;
    background-color: rgba(100, 100, 100, .8);
    box-shadow: 0px 0px 10px black;
}
.topButtons {
    padding:10px;
    transition: all 200ms ease-in-out;
}
.topButtons > br {
    display: none;
}
.topButton {
    font-size: 20px;
    min-width: 200px;
    cursor: pointer;
    word-break: normal;
    border: 2px solid black;
    background-color: rgba(0, 120, 200, .25);
    padding: 15px 10px 15px 10px;
    margin: 10px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}
.topCoverImg {
    display: none;
    padding: 10px 0px 10px 0px;
    text-align: center;
    transition: all 200ms ease-in-out;
}
.topCoverImg > img {
    width: 50%;
}
.topCO2017 {
    display: none;
    padding: 10px;
    background-color: rgba(0, 120, 200, .25);
    transition: all 200ms ease-in-out
}
.topCO2017Content {
    font-size: 20px;
    padding: 0px;
    margin: 0px
}
.topCO2017ContentSec {
    margin: 10px 0px 10px 0px;
    padding: 0px;
    list-style: none;
}
.topCO2017ContentSec > li {
    font-size: 15px;
    margin: 5px 0px 5px 10px;
}
@media screen and (max-width: 600px) {
    .top {
        max-height: 100vh;
        height: 90vh;
    }
    .topYBImg {
        display: none;
    }
    .topNavButtons {
        display: flex;
    }
    .topButtons {
        text-align: center;
    }
    .topButton {
        width: calc(100% - 30px);
        padding: 10px 5px 10px 5px;
        font-size: 15px;
    }
}
