html, body {
    padding: 0px;
    margin: 0px;
}
body {
    /*background-image:url("../media/background/bk50.jpg");*/
    font-family: "lato";
    position: relative;
    overflow-x: hidden;
}
button {
    outline: none;
    font-family: 'Roboto';
}
hr {
    border: 0px solid black;
    padding: 0px;
    margin: 0px;
    height: 2px;
    background-color: black;
}
a, a:visited {
    color: blue;
    text-decoration: none;
    font-family: Lato;
}
::selection {
    background-color: rgb(215, 10, 45);
    color: white;
}
* {
    //outline: red 1px dashed;
}
.content {
    position: relative;
    left: 10%;
    width: 80%;
    background-color: rgb(120, 170, 215);
    border-radius: 5px;
    box-shadow: 0px 5px 15px -5px black;
    text-align: center;
}
.contentNavBtn {
    min-width: 230px;
    max-width: 100%;
    margin: 5px 10px 5px 10px;
    display: inline-block;
}
